header,
main {
  display: flex;
  flex-wrap: wrap;
  flex-flow: column;
}

a {
  margin-top: 20px;
}

img {
  width: 100%;
  height: auto;
}

input {
  height: 2em;
  margin: 2em auto;
  padding: .2em;
  font-size: 16pt;
  text-align: center;
  border: 1px solid #ececec;
}

footer p {
  font-style: italic;
  font-size: small;
  text-align: center;
  color: #e4e4e4;
  margin: 4em 0;
}

/* TABLET SIZE
-------------------------------------*/
@media screen and (min-width: 768px) {
  header,
  main {
    flex-flow: wrap;
    align-items: flex-start;
  }

  main {
    margin: 0 auto;
    /*padding: 3em;*/
    width: 100%;
    justify-content: center;
  }

  a {
    flex-basis: 25%;
    min-width: 200px;
    height: 200px;
    margin: 1.5em;
  }

  img {
    width: 100%;
    height: 100%;
    /*overflow: hidden;*/
  }

}

/* DESKTOP SIZE
---------------------------------*/
@media screen and (min-width: 1024px) {

  main {
    width: 80%;
  }

  a {
    flex-basis: 20%;
    max-width: 200px;
    height: 200px;
  }

}
